{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Splite Your Soul</title>
    <link href="https://fonts.googleapis.com/css2?family=Playwrite+AU+QLD:wght@100..400&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <script src="{% static 'main/js/scripts.js' %}"></script>
</head>
<body>

    <header class="header">
        <div class="header_text">
            <p>Text every mind you have</p>
        </div>
        <form method="get" id="sortForm" class="sort-form">
            <label for="sortSelect">Сортировать по:</label>
            <select id="sortSelect" name="sort" onchange="document.getElementById('sortForm').submit();" >
                <option value="-created_at" {% if sort_param == '-created_at' %}selected{% endif %}>Новые сверху</option>
                <option value="created_at" {% if sort_param == 'created_at' %}selected{% endif %}>Старые сверху</option>
                <option value="username" {% if sort_param == 'username' %}selected{% endif %}>По имени (A→Z)</option>
                <option value="-username" {% if sort_param == '-username' %}selected{% endif %}>По имени (Z→A)</option>
                <option value="email" {% if sort_param == 'email' %}selected{% endif %}>По почте (A→Z)</option>
                <option value="-email" {% if sort_param == '-email' %}selected{% endif %}>По почте (Z→A)</option>
            </select>
        </form>
    </header>

    <div class="content">
        {% for comment in comments %}
            {% with date=comment.created_at|date:"Y-m-d" time=comment.created_at|time:"H:i" %}
                {% include "main/comment-block.html" with username=comment.username date=date time=time email=comment.email text=comment.text has_reply=comment.has_reply reply=comment.reply id=comment.id %}
            {% endwith %}
        {% endfor %}
    </div>

    <footer class="footer">
    </footer>

    <div class="create-comment-block">
        <div class="reply-message">
            <p>Вы отвечаете на сообщение... </p>
            <button class="btn btn-secondary" onclick="cancelReply()">отмена</button>
        </div>

        <form method="POST" class="fixed-input">
            {% csrf_token %}

            {{ form.reply }}

            <div class="user-info-inner">
                {{ form.username }}
                {{ form.email }}
            </div>
                {{ form.text }}
            <div class="captcha-inner">
                {{ form.captcha }}
                <button class="send-button" type="submit"><i class="fa-solid fa-paper-plane"></i></button>
            </div>
            {% if error %}<div class="captcha-message">{{ error }}</div>{% endif %}
        </form>
    </div>
</body>
</html>
